.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.headerMenu a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #565673;
    font-size: 15px;
    letter-spacing: 1.2px;
}

.headerMenu a:hover{
    color: #5f9ea0;
}

.search form {
    display: flex;
    margin: 0 10px;
}

.searchInput {
    border: 0;
    width: 0;
    transition: width 0.4s ease-in;
    width: 20%;
    background: transparent;
    position: relative;
    top: 20px;
}

.searchInput.active {
    width: 350px;
    border-bottom: 2px solid white;
}

.searchInput:focus {
    outline: none;
}

.searchIcon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    top: 20px;
}